body {
    font-family: Arial, sans-serif;
    background-color: #ffefbb
}

.contenedor {
    text-align: center;
}


.navbar {
    background-color: #f4c542; 
    padding: 10px 0;
    display: flex;
    justify-content: center;

}

.navbar ul {

    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    
    margin: 0 15px;
    background-color: #f4c542; 
    border-radius: 8px; 
    padding: 5px 10px;
}

.navbar a {
    color: #3b3b3b; 
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #ffd700; 
}


.footer {
    background-color: #f4c542;
    color: #3b3b3b;
    padding: 15px 0;
    font-size: 14px;
    border-top: 2px solid #dda821; 
}


.sunflower {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.sunflower img {
    width: 300px; 
}


.petal {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: transparent; 
}

.centro{

    position: absolute;
    width: 70px;
    height: 70px;
    top: 115px; 
    left: 115px; 
    cursor: pointer;
    background: transparent;

}


.petal1 { top: 50px; left: 130px; }
.petal2 { top: 20px; left: 170px; }
.petal3 { top: 50px; left: 210px; }
.petal4 { top: 100px; left: 230px; }
.petal5 { top: 160px; left: 210px; }
.petal6 { top: 200px; left: 170px; }
.petal7 { top: 220px; left: 130px; }
.petal8 { top: 200px; left: 90px; }
.petal9 { top: 160px; left: 50px; }
.petal10 { top: 100px; left: 50px; }
.petal11 { top: 50px; left: 90px; }
.petal12 { top: 30px; left: 120px; } 
.petal13 { top: 50px; left: 160px; }  
.petal14 { top: 130px; left: 150px; } 
.petal15 { top: 130px; left: 80px; }  

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: rgba(255, 248, 209, 0.9); 
    border: 2px solid #dda821; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 8px;
}

.popup p {
    margin: 0;
    color: #3b3b3b;
}

.close-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f4c542;
    color: #3b3b3b;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.close-btn:hover {
    background-color: #ffd700; 
}

.popup button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #ddd;
}


.popup img {
    width: 300px; /* Ancho fijo */
    height: 300px; /* Altura fija */
    object-fit: contain; /* Mantener las proporciones dentro del contenedor */
    border-radius: 10px; /* Bordes redondeados opcionales */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra opcional */
}


